* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: rgb(15, 17, 17);
    color: white;
    align-items: center;


}

.logo{
    background-image: url(pictures/amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

.navbar-logo{
    height: 55px;
    width: 114px;
    align-items: center;
    
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.1px solid white;
    border-radius: 3px;
}